/*
 * Copyright (c) 2025
 * SPDX-License-Identifier: MIT
 *
 * Tarakkie Split Keyboard Keymap
 * - Left side: 30 keys + 2 encoders (horizontal + vertical)
 * - Right side: 30 keys + 1 encoder (horizontal) + trackball
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    /* ============================================================
     * Keymap Configuration
     * Total: 60 keys (30 per side)
     * Layout per side: 6 cols x 4 rows + 6 direct keys
     * Layers: 5 (0~4)
     * ============================================================ */
    
    keymap {
        compatible = "zmk,keymap";

        /* ============================================================
         * Layer 0 - Default Layer
         * Left side: QWERTY layout + thumb keys
         * Right side: Number pad + navigation
         * Layout: 4 rows x 6 cols + 6 direct keys per side
         * ============================================================ */
        
        default_layer {
            label = "Default";
            
            bindings = <
                /* Left side (30 keys) */
                /* Matrix 6x4 */
                &kp Q      &kp W      &kp E      &kp R      &kp T      &kp Y
                &kp A      &kp S      &kp D      &kp F      &kp G      &kp H
                &kp Z      &kp X      &kp C      &kp V      &kp B      &kp N
                &kp ESC    &kp TAB    &kp LSHFT  &kp LCTRL  &kp LALT   &kp LGUI
                /* Direct keys (6) */
                &to 1      &to 2      &to 3      &to 4      &kp SPACE  &kp BSPC
                
                /* Right side (30 keys) */
                /* Matrix 6x4 */
                &kp N7     &kp N8     &kp N9     &kp MINUS  &kp EQUAL  &kp BSPC
                &kp N4     &kp N5     &kp N6     &kp PLUS   &kp STAR   &kp SLASH
                &kp N1     &kp N2     &kp N3     &kp DOT    &kp COMMA  &kp RET
                &kp N0     &kp UP     &kp DOWN   &kp LEFT   &kp RIGHT  &kp DEL
                /* Direct keys (6) */
                &kp PGUP   &kp PGDN   &kp HOME   &kp END    &kp RALT   &kp RCTRL
            >;
            
            /* ============================================================
             * Encoder Mappings for Layer 0
             * Left horizontal: Volume Up/Down
             * Left vertical: Scroll Up/Down
             * Right horizontal: Mouse Wheel Up/Down
             * ============================================================ */
            
            sensor-bindings = <
                &inc_dec_kp C_VOL_UP C_VOL_DN        // Left horizontal encoder
                &inc_dec_kp PG_UP PG_DN              // Left vertical encoder
                &inc_dec_kp C_AC_SCROLL_UP C_AC_SCROLL_DN  // Right horizontal encoder
            >;
        };

        /* ============================================================
         * Layer 1 - Function Layer
         * Function keys and media controls
         * Layout: 4 rows x 6 cols + 6 direct keys per side
         * ============================================================ */
        
        layer_1 {
            label = "Function";
            
            bindings = <
                /* Left side */
                &kp F1     &kp F2     &kp F3     &kp F4     &kp F5     &kp F6
                &kp F7     &kp F8     &kp F9     &kp F10    &kp F11    &kp F12
                &trans     &trans     &trans     &trans     &trans     &trans
                &trans     &trans     &trans     &trans     &trans     &trans
                &to 0      &trans     &trans     &trans     &trans     &trans
                
                /* Right side */
                &kp C_PREV &kp C_PLAY_PAUSE &kp C_NEXT &kp C_MUTE &trans &trans
                &trans     &trans     &trans     &trans     &trans     &trans
                &trans     &trans     &trans     &trans     &trans     &trans
                &trans     &trans     &trans     &trans     &trans     &trans
                &trans     &trans     &trans     &trans     &trans     &trans
            >;
            
            sensor-bindings = <
                &inc_dec_kp C_VOL_UP C_VOL_DN
                &inc_dec_kp C_BRI_UP C_BRI_DN    // Brightness control
                &inc_dec_kp C_NEXT C_PREV        // Media track
            >;
        };

        /* ============================================================
         * Layer 2 - Symbol Layer
         * Symbols and special characters
         * Layout: 4 rows x 6 cols + 6 direct keys per side
         * ============================================================ */
        
        layer_2 {
            label = "Symbol";
            
            bindings = <
                /* Left side */
                &kp EXCL   &kp AT     &kp HASH   &kp DLLR   &kp PRCNT  &kp CARET
                &kp AMPS   &kp STAR   &kp LPAR   &kp RPAR   &kp LBRC   &kp RBRC
                &trans     &trans     &trans     &trans     &trans     &trans
                &trans     &trans     &trans     &trans     &trans     &trans
                &trans     &to 0      &trans     &trans     &trans     &trans
                
                /* Right side */
                &kp MINUS  &kp EQUAL  &kp LBKT   &kp RBKT   &kp BSLH   &kp PIPE
                &kp SEMI   &kp COLON  &kp APOS   &kp DQT    &kp COMMA  &kp DOT
                &kp GRAVE  &kp TILDE  &kp LT     &kp GT     &trans     &trans
                &trans     &trans     &trans     &trans     &trans     &trans
                &trans     &trans     &trans     &trans     &trans     &trans
            >;
            
            sensor-bindings = <
                &inc_dec_kp C_VOL_UP C_VOL_DN
                &inc_dec_kp PG_UP PG_DN
                &inc_dec_kp C_AC_SCROLL_UP C_AC_SCROLL_DN
            >;
        };

        /* ============================================================
         * Layer 3 - Navigation Layer
         * Arrow keys and navigation
         * Layout: 4 rows x 6 cols + 6 direct keys per side
         * ============================================================ */
        
        layer_3 {
            label = "Nav";
            
            bindings = <
                /* Left side */
                &trans     &trans     &trans     &trans     &trans     &trans
                &kp LEFT   &kp DOWN   &kp UP     &kp RIGHT  &kp HOME   &kp END
                &kp PGDN   &kp PGUP   &trans     &trans     &trans     &trans
                &trans     &trans     &trans     &trans     &trans     &trans
                &trans     &trans     &to 0      &trans     &trans     &trans
                
                /* Right side */
                &trans     &trans     &trans     &trans     &trans     &trans
                &trans     &trans     &trans     &trans     &trans     &trans
                &trans     &trans     &trans     &trans     &trans     &trans
                &trans     &trans     &trans     &trans     &trans     &trans
                &trans     &trans     &trans     &trans     &trans     &trans
            >;
            
            sensor-bindings = <
                &inc_dec_kp LEFT RIGHT
                &inc_dec_kp DOWN UP
                &inc_dec_kp PG_DN PG_UP
            >;
        };

        /* ============================================================
         * Layer 4 - System Layer
         * Bluetooth controls and system functions
         * Layout: 4 rows x 6 cols + 6 direct keys per side
         * ============================================================ */
        
        layer_4 {
            label = "System";
            
            bindings = <
                /* Left side */
                &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_CLR &trans
                &trans       &trans        &trans        &trans       &trans     &trans
                &trans       &trans        &trans        &trans       &trans     &trans
                &trans       &trans        &trans        &trans       &trans     &trans
                &trans       &trans        &trans        &to 0        &trans     &trans
                
                /* Right side */
                &trans     &trans     &trans     &trans     &trans     &trans
                &trans     &trans     &trans     &trans     &trans     &trans
                &trans     &trans     &trans     &trans     &trans     &trans
                &trans     &trans     &trans     &trans     &trans     &trans
                &trans     &trans     &trans     &trans     &trans     &trans
            >;
            
            sensor-bindings = <
                &inc_dec_kp C_VOL_UP C_VOL_DN
                &inc_dec_kp PG_UP PG_DN
                &inc_dec_kp C_AC_SCROLL_UP C_AC_SCROLL_DN
            >;
        };
    };
};
